
h2{
    text-align: center;
}
    form {
    max-width: 400px;
    background: linear-gradient(to right, #4b6cb7, #182848);
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;

  }
  
  input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #c1f189;

  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }

  