body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    margin: 0;
   display: flex;
   flex-direction: column;
   grid-template-rows: 1fr auto;
    background: linear-gradient(to right, #b6dacb, #eceaec);
  }


  
  .contente{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main{
      flex: 1;
    
  }
  #home{
    margin-top: 200px;
  }

  .brand{
    font-size: 2rem;
      font-weight: bold;
      background: linear-gradient(to right, #f27ce3, #5dbbcb);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
  }

  .welcome{
    font-size: 2rem;
      font-weight: bold;
      background: linear-gradient(to right, #a1ec3e, #dd26e4);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
     }
  
  header {
    position: fixed;
   width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
  
}
  
   header ul {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
    gap: 20px;
  }
  
  header  ul li {
    display: inline;
  }
  
  header  ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  header  ul li a:hover {
    color: #FFD700;
  }
  
  /* Home Section */

  .hero{
    flex: 1;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;

  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background-color: #29662c;
    transform: translateY(-2px);
}
  
  .cta-button {
    background-color: #4d4af7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
  }
 
  

  
  .button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  /* Footer Section */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  
}

.footer-content ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-content li {
    margin: 0 15px;
}

.footer-content a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #FFD700;
}



